Appium-Python-Client==1.0.2
attrs==19.3.0
certifi==2019.11.28
chardet==4.0.0
core-universal==2.5.10
decorator==4.4.2
eyes-common==5.0.0
eyes-core==5.0.0
eyes-images==5.18.0
eyes-selenium==5.18.0
flask-marshmallow==0.14.0
idna==2.9
install==1.3.5
kitchen==1.2.6
lxml==4.4.2
marshmallow==2.21.0
packaging==23.1
pathspec==0.7.0
Pillow==5.4.0
PyYAML==5.2
requests==2.25.1
robotframework==3.1.2
robotframework-appiumlibrary==1.5.0.7
robotframework-pythonlibcore==2.2.1
robotframework-seleniumlibrary==3.3.1
robotframework-selenium2library==3.3.1
selenium==3.141.0
six==1.16.0
structlog==19.2.0
tinycss2==1.1.0
trafaret==2.0.2
transitions==0.7.2
ua-parser==0.10.0
urllib3==1.24.2
webencodings==0.5.1
websocket-client==0.59.0
yamllint==1.19.0